In [ ]:
# Importing the needed library
import pandas as pd

'Five year age bands' dataset

In [ ]:
# Reading the datasets to variables
data1 = pd.read_excel('/content/Five year age bands.xlsx', sheet_name='2021')
data2 = pd.read_excel('/content/Five year age bands.xlsx', sheet_name='change 2011-2021')
# Dropping unnecessary columns
data1 = data1.drop(columns=(['ward code', 'local authority code']))
data1.head(10)

,ward name,local authority name,All usual residents,Aged 4 years and under,Aged 5 to 9 years,Aged 10 to 14 years,Aged 15 to 19 years,Aged 20 to 24 years,Aged 25 to 29 years,Aged 30 to 34 years,Aged 35 to 39 years,Aged 40 to 44 years,Aged 45 to 49 years,Aged 50 to 54 years,Aged 55 to 59 years,Aged 60 to 64 years,Aged 65 to 69 years,Aged 70 to 74 years,Aged 75 to 79 years,Aged 80 to 84 years,Aged 85 years and over
0,City of London,City of London,8586,216,161,173,215,962,1213,1003,730,549,535,639,520,460,390,322,209,162,127
1,Abbey,Barking and Dagenham,3958,388,365,222,170,210,403,551,508,349,197,159,127,125,62,44,40,19,19
2,Alibon,Barking and Dagenham,9877,690,806,764,695,634,691,790,772,750,689,710,573,397,283,204,158,128,143
3,Barking Riverside,Barking and Dagenham,10063,1110,928,960,659,496,777,1114,941,870,678,595,343,248,115,103,58,35,33
4,Beam,Barking and Dagenham,8355,573,744,798,614,534,476,608,636,554,684,517,463,353,256,188,160,93,104
5,Becontree,Barking and Dagenham,9790,699,899,894,706,604,626,742,755,767,699,618,556,364,300,207,144,103,107
6,Chadwell Heath,Barking and Dagenham,13817,1078,1145,1118,946,772,907,1105,1103,986,885,804,733,573,432,379,318,281,252
7,Eastbrook & Rush Green,Barking and Dagenham,8743,528,643,599,534,530,628,693,648,582,537,590,534,482,320,308,202,185,200
8,Eastbury,Barking and Dagenham,15730,1199,1269,1290,1205,1031,1040,1222,1266,1290,1132,1066,773,623,436,345,207,196,140
9,Gascoigne,Barking and Dagenham,10716,1132,973,917,762,530,800,1053,1115,948,719,552,406,285,190,119,101,58,56

In [ ]:
# Dropping unnecessary columns
data2 = data2.drop(columns=(['ward code', 'local authority code']))
data2.head(10)

,ward name,local authority name,All usual residents,Aged 4 years and under,Aged 5 to 9 years,Aged 10 to 14 years,Aged 15 to 19 years,Aged 20 to 24 years,Aged 25 to 29 years,Aged 30 to 34 years,Aged 35 to 39 years,Aged 40 to 44 years,Aged 45 to 49 years,Aged 50 to 54 years,Aged 55 to 59 years,Aged 60 to 64 years,Aged 65 to 69 years,Aged 70 to 74 years,Aged 75 to 79 years,Aged 80 to 84 years,Aged 85 years and over
0,City of London,City of London,1211,-20,-21,4,18,417,257,183,132,-78,-65,168,44,-3,61,64,24,16,10
1,Abbey,Barking and Dagenham,636,25,144,73,49,-155,-186,43,230,165,68,70,44,48,8,6,7,6,-9
2,Alibon,Barking and Dagenham,949,-187,130,126,14,47,99,103,77,57,49,142,199,81,34,0,-21,-26,25
3,Barking Riverside,Barking and Dagenham,4268,272,381,574,338,143,252,485,374,410,351,334,182,119,38,36,-4,-19,2
4,Beam,Barking and Dagenham,698,-199,100,284,78,-3,-76,87,52,14,96,67,102,68,34,26,2,-46,12
5,Becontree,Barking and Dagenham,1235,-117,237,269,59,-4,-22,49,25,141,102,148,184,92,74,25,0,-2,-25
6,Chadwell Heath,Barking and Dagenham,2264,101,244,368,202,17,49,307,355,116,133,212,221,60,23,14,-46,-14,-98
7,Eastbrook & Rush Green,Barking and Dagenham,721,-30,158,66,-89,-52,86,242,132,26,-32,39,121,87,43,23,-35,-33,-31
8,Eastbury,Barking and Dagenham,1116,-293,85,168,190,19,-39,17,45,215,212,338,114,76,83,45,-55,-47,-57
9,Gascoigne,Barking and Dagenham,-553,-380,-129,71,163,-284,-228,-161,98,111,99,104,73,30,-8,-11,-16,-53,-32

In [ ]:
# Writing the cleaned datasets to a file
with pd.ExcelWriter('/content/Age 2011-2021.xlsx', engine='openpyxl') as writer:
    data1.to_excel(writer, sheet_name='2021', index=False)
    data2.to_excel(writer, sheet_name='change 2011-2021', index=False)

'localincomedeprivationdata' dataset

In [ ]:
# Reading the dataset to a variable
data1 = pd.read_excel('/content/localincomedeprivationdata.xlsx', sheet_name='Rankings for all indicators', header = 1)
# Taking only the needed columns
data1 = data1[['Local Authority District name (2019)', 'Income deprivation rate']]
# Converting the values of 'Income deprivation rate' to maintain their representation as percentages
data1['Income deprivation rate'] = data1['Income deprivation rate'] * 100
data1.head(10)

  Local Authority District name (2019)  Income deprivation rate
0                                 Adur                     10.8
1                            Allerdale                     12.1
2                         Amber Valley                     10.9
3                                 Arun                     10.4
4                             Ashfield                     15.2
5                              Ashford                     11.0
6                       Aylesbury Vale                      6.7
7                              Babergh                      8.0
8                 Barking and Dagenham                     19.4
9                               Barnet                     11.1

In [ ]:
# Writing the cleaned dataset to a file
data1.to_excel('/content/Deprivation 2019.xlsx', index=False)

'young children and families' dataset

In [ ]:
# Reading the dataset to a variable
data1 = pd.read_excel('/content/young children and familiesZZ.xlsx', sheet_name='A5R', header = 0)
# Dropping the unnecessary column
data1 = data1.drop('Code', axis=1)
data1.head(10)

  Local Authority District name  Homeless count
0                          Adur              24
1                  Amber Valley              39
2                          Arun             137
3                      Ashfield              68
4                       Ashford              98
5                       Babergh              36
6            Barking & Dagenham             112
7                        Barnet             531
8                      Barnsley             138
9                      Basildon             129

In [ ]:
# Writing the cleaned dataset to a file
data1.to_excel('/content/Homeless 2024.xlsx', index=False)

'asylum applications' dataset

In [ ]:
# Reading the dataset to a variable and setting the first row as the headers
data1 = pd.read_excel('/content/asylum applications datasetZZ.xlsx', sheet_name='Sheet1', header = 0)
data1.head(10)

   Asylum applicants  Year
0              29815  2020
1              50042  2021
2              74751  2022

In [ ]:
# Writing the cleaned dataset to a file
data1.to_excel('/content/Asylum applications 2020-2022.xlsx', index=False)

'gross disposable household income' dataset

In [ ]:
# Reading the datasets to variables
data1 = pd.read_excel('/content/gross disposable household income.xlsx', sheet_name='Table 3', header = 1)
data2 = pd.read_excel('/content/gross disposable household income.xlsx', sheet_name='Table 2', header = 1)
data1.head(10)

,ITL,ITL code,Region name,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52
0,UK,UK,United Kingdom,10596,10814,11298,11889,12353,12643,13022,13556,14038,14618,15297,15695,15963,16111,16270,16870,17506,18061,19004,19227,19677,20406,21015,20962,21635,22789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Other,TLB,England,10850,11086,11591,12187,12652,12921,13294,13824,14320,14907,15616,15991,16285,16421,16558,17190,17851,18425,19448,19682,20136,20904,21515,21433,22137,23338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ITL1,TLC,North East,9107,9150,9494,9987,10448,10631,10962,11470,11697,12121,12434,12721,13291,13509,13654,14227,14564,14959,15516,15718,16038,16474,16991,17239,17592,18388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ITL2,TLC1,Tees Valley and Durham,9052,8999,9410,9871,10348,10493,10760,11282,11590,11960,12234,12483,13002,13232,13400,13930,14242,14703,15194,15368,15687,16137,16625,16917,17200,17955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ITL3,TLC11,Hartlepool and Stockton-on-Tees,9117,9029,9503,9880,10329,10628,10928,11468,11913,12340,12643,12973,13449,13639,13966,14363,14528,14957,15328,15536,15871,16217,16857,17190,17600,18411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ITL3,TLC12,South Teesside,8813,8469,8945,9414,9897,9947,10199,10666,11039,11477,11640,11910,12611,12684,12903,13677,13905,14470,14831,14890,15106,15617,16070,16275,16423,17158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ITL3,TLC13,Darlington,9453,9319,9517,10271,11113,11127,11458,11807,12023,12238,12860,12877,13426,13553,13409,13904,14401,14750,15374,15903,16556,16881,17427,18081,18214,19056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ITL3,TLC14,Durham CC,9074,9222,9603,10046,10463,10599,10841,11418,11629,11958,12205,12441,12878,13235,13349,13829,14230,14676,15275,15421,15716,16218,16629,16871,17186,17904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ITL2,TLC2,"Northumberland, and Tyne and Wear",9151,9272,9562,10082,10530,10744,11128,11625,11786,12255,12599,12918,13530,13737,13864,14473,14830,15171,15782,16007,16328,16753,17294,17505,17916,18749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ITL3,TLC21,Northumberland,10081,10162,10681,11300,11764,11936,12457,12910,13185,13977,14269,15112,16026,15994,16070,16604,17157,17529,18202,18523,18943,19405,19834,19948,20297,21359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Dropping unnecessary and empty columns
data1 = data1.dropna(axis = 1)
data1 = data1.drop(columns=(['ITL', 'ITL code']))
data1.head(10)

,Region name,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United Kingdom,10596,10814,11298,11889,12353,12643,13022,13556,14038,14618,15297,15695,15963,16111,16270,16870,17506,18061,19004,19227,19677,20406,21015,20962,21635,22789
1,England,10850,11086,11591,12187,12652,12921,13294,13824,14320,14907,15616,15991,16285,16421,16558,17190,17851,18425,19448,19682,20136,20904,21515,21433,22137,23338
2,North East,9107,9150,9494,9987,10448,10631,10962,11470,11697,12121,12434,12721,13291,13509,13654,14227,14564,14959,15516,15718,16038,16474,16991,17239,17592,18388
3,Tees Valley and Durham,9052,8999,9410,9871,10348,10493,10760,11282,11590,11960,12234,12483,13002,13232,13400,13930,14242,14703,15194,15368,15687,16137,16625,16917,17200,17955
4,Hartlepool and Stockton-on-Tees,9117,9029,9503,9880,10329,10628,10928,11468,11913,12340,12643,12973,13449,13639,13966,14363,14528,14957,15328,15536,15871,16217,16857,17190,17600,18411
5,South Teesside,8813,8469,8945,9414,9897,9947,10199,10666,11039,11477,11640,11910,12611,12684,12903,13677,13905,14470,14831,14890,15106,15617,16070,16275,16423,17158
6,Darlington,9453,9319,9517,10271,11113,11127,11458,11807,12023,12238,12860,12877,13426,13553,13409,13904,14401,14750,15374,15903,16556,16881,17427,18081,18214,19056
7,Durham CC,9074,9222,9603,10046,10463,10599,10841,11418,11629,11958,12205,12441,12878,13235,13349,13829,14230,14676,15275,15421,15716,16218,16629,16871,17186,17904
8,"Northumberland, and Tyne and Wear",9151,9272,9562,10082,10530,10744,11128,11625,11786,12255,12599,12918,13530,13737,13864,14473,14830,15171,15782,16007,16328,16753,17294,17505,17916,18749
9,Northumberland,10081,10162,10681,11300,11764,11936,12457,12910,13185,13977,14269,15112,16026,15994,16070,16604,17157,17529,18202,18523,18943,19405,19834,19948,20297,21359

In [ ]:
# Dropping unnecessary and empty columns
data2 = data2.dropna(axis = 1)
data2 = data2.drop(columns=(['ITL', 'ITL code']))
data2.head(10)

,Region name,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,United Kingdom,58314249,58474943,58684427,58886065,59113016,59365677,59636662,59950364,60413276,60826967,61319075,61823772,62260486,62759456,63285145,63710843,64138721,64619493,65088058,65607141,65965992,66288927,66630707,66744067,66983488,67603461
1,England,48664777,48820583,49032872,49233311,49449746,49679267,49925517,50194600,50606034,50965186,51381093,51815853,52196381,52642452,53107169,53506812,53918686,54370319,54808676,55289034,55619548,55924528,56230056,56325961,56554891,57112542
2,North East,2568066,2560883,2550314,2543421,2540090,2540600,2540461,2540502,2547127,2552568,2562045,2569312,2575441,2586868,2596441,2598972,2603299,2610482,2611804,2618253,2623787,2629393,2636676,2637426,2647493,2682069
3,Tees Valley and Durham,1150807,1149732,1147357,1146998,1145911,1145555,1146290,1147588,1151006,1154698,1159628,1164126,1166314,1171381,1176022,1177283,1178584,1181036,1182799,1185354,1188601,1190189,1193188,1193651,1199812,1216827
4,Hartlepool and Stockton-on-Tees,267940,269103,270524,272328,273947,274933,275833,276004,276807,278051,278906,280418,281508,282675,283912,285181,286388,287471,287915,288672,289352,289797,289261,288590,289607,293959
5,South Teesside,285163,284411,282565,281444,280392,278610,277615,277094,276694,275790,275130,274397,273140,273050,273532,273423,273426,274136,274972,275993,276797,277333,278833,279030,280548,285751
6,Darlington,99171,99273,98172,98088,97894,98474,98911,99343,100287,101509,102632,103694,104355,105028,105584,105557,105591,105825,105988,106258,106541,106411,106532,106827,108210,109413
7,Durham CC,498533,496945,496096,495138,493678,493538,493931,495147,497218,499348,502960,505617,507311,510628,512994,513122,513179,513604,513924,514431,515911,516648,518562,519204,521447,527704
8,"Northumberland, and Tyne and Wear",1417259,1411151,1402957,1396423,1394179,1395045,1394171,1392914,1396121,1397870,1402417,1405186,1409127,1415487,1420419,1421689,1424715,1429446,1429005,1432899,1435186,1439204,1443488,1443775,1447681,1465242
9,Northumberland,306756,307241,307490,307348,307363,308499,309448,310140,310752,311375,312960,314057,314489,315463,316278,315924,315013,315274,314188,314327,315663,316153,318027,318490,321532,324286

In [ ]:
# Writing the cleaned datasets to a file
with pd.ExcelWriter('/content/GDHI and Population 1997-2022.xlsx', engine='openpyxl') as writer:
    data1.to_excel(writer, sheet_name='GDHI', index=False)
    data2.to_excel(writer, sheet_name='Population', index=False)